<!DOCTYPE html>
<html>
  <head>
    <title>Core</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>Inside the application.html.erb template</h2>
    <%if flash[:network_errors]%>
      <div><%=flash[:network_errors]%></div>
    <%end%>
    <%= yield %>
  </body>
</html>
